.glass {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    margin-top: 20px;
    border-radius: 50px;
    background: #283434;
    box-shadow: inset 20px 20px 60px #222c2c,
            inset -20px -20px 60px #2e3c3c;
}


