.titles {
    text-align: center;
    color: white;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 100px;
  }

  .myParent {
    display: flex;
    justify-content: center;
  }

  .sep {
    width: 33.333%;
    margin: 20px;
    /* flex-direction: column; */
  }

  .getAway {
    
  }