.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.startHere {
  padding: 0;
}

.contactStyle {
  margin-top: 20vh;
}


/* 
  .box {
    width: 97%;
    margin: 10px;
  }
 */
